<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>사진 전시회 서비스 - ID/PW 찾기</title>
<link rel="stylesheet" href="/stylesheets/finder.css"></link>
</head>
<body>

	<header id="header">
		<div id="logo">
			<a href="/">
				<img src="http://placehold.it/500x50">
			</a>
		</div>
	</header>

	<section>
		<h2>Forget Account?</h2>
		<form id="findid">
			<h5>아이디 찾기 - 가입 당시 입력하신 E-Mail로 아이디를 보내드립니다.</h5>
			<input id="authemail1" type="text" name="e1" placeholder="계정에 등록된 E-Mail"></input>
			<br/>
			<button>아이디 찾기</button>
			<br/>
		</form>
		<form id="findpw">
			<br/>
			<h5>비밀번호 찾기 - 가입 당시 입력하신 E-Mail로 비밀번호를 보내드립니다.</h5>
			<input id="authid" type="text" name="id" placeholder="비밀번호를 찾으려는 아이디"></input>
			<input id="authname" type="text" name="name" placeholder="성명"></input>
			<input id="authemail2" type="text" name="e2" placeholder="계정에 등록된 E-Mail"></input>
			<br/>
			<button>비밀번호 찾기</button>
			<h5>가입 당시 입력하신 E-Mail 주소를 잊어버리셨나요?</h5>
		</form>
		<p>
				E-Mail 주소를 잊어버리셨으면 아래의 고객센터로 연락하여 직접 본인 확인을 하셔야 합니다.<br/>
				본인확인이 불가능할 경우 보안상의 문제로 계정을 찾아드릴 수 없습니다.<br/>
				Sejong Gallery Service Customer Service:<br/>
				02) XXX - XXXX
		</p>
		<a href="/login">로그인 &gt&gt</a>
		<a href="/register">회원가입 &gt&gt</a>
	</section>

</body>
</html>
