<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>사진 전시회 서비스 - 회원가입</title>
<link rel="stylesheet" href="/stylesheets/register.css"></link>
</head>
<body>

	<header id="header">
		<div id="logo">
			<a href="/">
				<img src="http://placehold.it/500x50">
			</a>
		</div>
	</header>

	<section>
		<h2>Register</h2>
		<form action="/register" method="post">
			<input id="authid" type="text" name="id" placeholder="아이디"></input>
			<input id="authpw" type="password" name="pw" placeholder="비밀번호"></input>
            <input id="authpwck" type="password" name="pwck" placeholder="비밀번호 확인"></input>
			<input id="authname" type="text" name="name" placeholder="성명"></input>
			<input id="authnick" type="text" name="nick" placeholder="닉네임"></input>
            <input id="authmail" type="text" name="mail" placeholder="이메일"></input>
			<input id="authphone" type="text" name="phone" placeholder="전화번호"></input>
            <div>
				본 서비스에 회원가입할 경우 이용자는 <span onClick="showeula(1);">이용약관</span>과
			</div>
			<div>
				<span onClick="showeula(2);">개인정보 수집 및 취급에 관한 약관</span>에 동의하는 것으로 간주합니다.
			</div>
            <br/>
            <br/>
			<button>회원가입</button>
        </form>
        <br/>
		<a href="/login">로그인 &gt&gt</a>
		<a href="/finder">ID / PW 찾기 &gt&gt</a>
	</section>

	<!-- 이용약관 모달창 -->
	<article id="eula1">
		<div>
			<div onclick="closemodal();">X</div>
			<p>이용약관 내용을 입력하십시오.</p>
		</div>
	</article>
	<article id="eula2">
		<div>
			<div onclick="closemodal();">X</div>
			<p>이용약관 내용을 입력하십시오.</p>
		</div>
	</article>
	<script src="/javascripts/eula.js"></script>
</body>
</html>
