html,body{
    width : 100%;
    height : 100%;
    overflow: hidden;
}
body{
    background-color: rgba(255,100,100,0.5);
}
#title{
    width: 50%;
    height: 15%;
    margin: 0 25%;
    font-size: 120px;
    font-weight: bold;
    line-height: 120px;
    color: white;
    text-align: center;
}
#findid{
    width: 80%;
    height: 17.5%;
    margin: 0 10%;
    margin-bottom: 2.5%;
}
#findid > input{
    display: block;
    width: 85%;
    height: 125px;
    margin: 0 7.5%;
    background-color: inherit;
    border: 0;
    border-bottom: 5px solid white;
    color: white;
    font-size: 60px;
    line-height: 60px;
}
#findid > button{
    display: block;
    width: 60%;
    height: 125px;
    margin: 0 20%;
    margin-top: 5%;
    background-color: rgba(255,100,100,0.6);
    border: 5px solid rgb(255,100,100);
    border-radius: 10px;
    color: white;
    font-size: 60px;
    font-weight: bold;
    line-height: 80px;
    text-align: center;
}
#findpw{
    width: 80%;
    height: 40%;
    margin: 0 10%;
}
#findpw > input{
    display: block;
    width: 85%;
    height: 125px;
    margin: 0 7.5%;
    background-color: inherit;
    border: 0;
    border-bottom: 5px solid white;
    color: white;
    font-size: 60px;
    line-height: 60px;
}
#findpw > button{
    display: block;
    width: 60%;
    height: 125px;
    margin: 0 20%;
    margin-top: 5%;
    background-color: rgba(255,100,100,0.6);
    border: 5px solid rgb(255,100,100);
    border-radius: 10px;
    color: white;
    font-size: 60px;
    font-weight: bold;
    line-height: 80px;
    text-align: center;
}
form > input::placeholder{
    color: white;
    font-size: 60px;
    line-height: 60px;
}
#links{
    width: 40%;
    height: 20%;
    margin: 0 30%;
    margin-top: 5%;
    text-align: center;
}
#links > a{
    margin-top: 2.5%;
    font-size: 50px;
    color: white;
    line-height: 60px;
    display: block;
}