html,body{
    width : 100%;
    height : 100%;
    overflow: hidden;
}
body{
    background-color: rgba(255,100,100,0.5);
}
#title{
    width: 50%;
    margin: 0 25%;
    margin-top: 10%;
    font-size: 120px;
    font-weight: bold;
    line-height: 120px;
    color: white;
    text-align: center;
}
form{
    width: 80%;
    margin: 0 10%;
    margin-top: 5%;
}
form > input{
    display: block;
    width: 85%;
    height: 10%;
    margin: 0 7.5%;
    margin-top: 5%;
    background-color: inherit;
    border: 0;
    border-bottom: 5px solid white;
    color: white;
    font-size: 60px;
    line-height: 60px;
}
form > input::placeholder{
    color: white;
    font-size: 60px;
    line-height: 60px;
}
form > p{
    display: block;
    width: 80%;
    height: 10%;
    margin: 0 10%;
    margin-top: 5%;
    color: white;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
}
form > button{
    display: block;
    width: 50%;
    height: 15%;
    margin: 0 25%;
    margin-top: 5%;
    background-color: rgba(255,100,100,0.6);
    border: 5px solid rgb(255,100,100);
    border-radius: 10px;
    color: white;
    font-size: 60px;
    font-weight: bold;
    line-height: 80px;
    text-align: center;
}
#links{
    width: 80%;
    height: 20%;
    margin: 0 10%;
    margin-top: 5%;
    text-align: center;
}
#links > a{
    margin-top: 10%;
    margin-right: 10%;
    font-size: 50px;
    color: white;
    line-height: 60px;
}